<div class="details-interpretation details-view">
  <div id="details-column-1">
    <div class="detail-item request-id">
      <label>Request ID</label>
      <div class="content"></div>
    </div>
    <div class="detail-item status">
      <label>Status</label>
      <div class="content"></div>
    </div>
    <div class="detail-item languages">
      <label>Languages</label>
      <div class="content"></div>
    </div>
    <div class="detail-item event-details">
      <label>Event Details</label>
      <div class="content">
        <span class="request-date"></span><br />
        <span class="start-end-time"></span>-<span class="end-time"></span><br />
        <span class="event-location"></span>
      </div>
    </div>
    <div class="detail-item description">
      <label>Details</label>
      <div class="content"></div>
    </div>
  </div>
  <div id="details-column-2">
    <div class="detail-item contractor">
      <label>Interpreter selected</label>
      <div class="content"></div>
    </div>
    <div class="detail-item contractor-name" style="display: none">
      <label>Interpreter Name</label>
      <input type="text" class="form-control" id="contractor-name" />
    </div>
    <div class="detail-item contractor-contracted-date">
      <label>Interpreter contracted</label>
      <input type="date" class="form-control" id="contractor-contracted-date" />
    </div>
    <div class="detail-item guest-attendance-date">
      <label>Guest attendance confirmed</label>
      <input type="date" class="form-control" id="guest-attendance-date" />
    </div>
    <div class="detail-item technology-confirmed-date">
      <label>Technology confirmed</label>
      <input type="date" class="form-control" id="technology-confirmed-date" />
    </div>
  </div>
</div>
