<div class="details-translation details-view">
  <div id="details-column-1">
    <div class="detail-item request-id">
      <label>Request ID</label>
      <div class="content"></div>
    </div>
    <div class="detail-item status">
      <label>Status</label>
      <div class="content"></div>
    </div>
    <div class="detail-item languages">
      <label>Languages</label>
      <div class="content"></div>
    </div>
    <div class="detail-item document-link">
      <label>Document Link</label>
      <div class="content"><a href="" target="_blank">Document original</a></div>
    </div>
    <div class="detail-item document-length">
      <label>Length</label>
      <div class="content"></div>
    </div>
    <div class="detail-item description">
      <label>Details</label>
      <div class="content"></div>
    </div>
  </div>
  <div id="details-column-2">
    <div class="detail-item contractor">
      <label>Translation service</label>
      <div class="content"></div>
      <div class="detail-item contractor-name">
        <label>Interpreter Name</label>
        <input type="text" class="form-control" id="contractor-name" />
      </div>
    </div>
    <div class="detail-item document-sent-date">
      <label>Document sent</label>
      <input type="date" class="form-control" id="document-sent-date" />
    </div>
    <div class="detail-item document-received-date">
      <label>Document received</label>
      <input type="date" class="form-control" id="document-received-date" />
    </div>
  </div>
</div>
