  <option value="all">All schools</option>
  <option value="Feeney">Feeney</option>
  <option value="Boyden">Boyden</option>
  <option value="Elm Street">Elm Street</option>
  <option value="Old Post Road">Old Post Road</option>
  <option value="Walpole Middle School">Walpole Middle School</option>
  <option value="Walpole High School">Walpole High School</option>
  <option value="Central Administration">Central Administration</option>
  <option value="Student Services">Student Services</option>
