<div class="grid">
  <div class="detail-item">
    <label>Interpretation Type </label>
    <div data-bind="interpretationType" data-show="view process"></div>
    <input type="text" class="form-control" data-bind="interpretationType" data-show="edit" />
  </div>

  <div class="detail-item">
    <label>Event Date</label>
    <div data-bind="requestDate" data-format="date" data-show="view process"></div>
    <input type="date" class="form-control" data-bind="requestDate" data-show="edit" />
  </div>
  <div class="detail-item">
    <label>Event Location</label>
    <div data-bind="eventLocation" data-show="view process"></div>
    <input type="text" class="form-control" data-bind="eventLocation" data-show="edit" />
  </div>

  <div class="detail-item">
    <label>Event Time</label>
    <div class="time-range" data-show="view process">
      <span data-bind="startTime"></span>
      <span class="time-range-separator">to</span>
      <span data-bind="endTime"></span>
    </div>
    <div class="time-range" data-show="edit">
      <input type="time" class="form-control" data-bind="startTime" />
      <span class="time-range-separator">to</span>
      <input type="time" class="form-control" data-bind="endTime" />
    </div>
  </div>

  <div class="detail-item">
    <label>Description</label>
    <div id="view-description" data-show="view process" data-bind="description"></div>
    <textarea id="edit-description" class="form-control" data-show="edit" style="display: none"
      data-bind="description"></textarea>
  </div>

  <div class="full-width">
    <hr />
  </div>

  <div class="detail-item">
    <label>Contractor</label>
    <div data-show="view" data-bind="contractor"></div>
    <div data-show="process edit">
      <contractor-select id="contractor-select"></contractor-select>
    </div>
  </div>

  <div class="detail-item">
    <label>Date Guest Confirmed</label>
    <div data-bind="guestConfirmedDate" data-format="date" data-show="view"></div>
    <input type="date" class="form-control" data-bind="guestConfirmedDate" data-show="process edit" />
  </div>

  <div class="detail-item">
    <label>Date Contractor Scheduled</label>
    <div data-bind="contractorScheduledDate" data-format="date" data-show="view"></div>
    <input type="date" class="form-control" data-bind="contractorScheduledDate" data-show="process edit" />
  </div>

  <div class="detail-item">
    <label>Date Tech Confirmed</label>
    <div data-bind="techConfirmedDate" data-format="date" data-show="view"></div>
    <input type="date" class="form-control" data-bind="techConfirmedDate" data-show="process edit" />
  </div>
</div>