<div class="details-translation">
  <div class="detail-item">
    <label>Page Count</label>
    <div data-bind="docPageCount" data-show="view process"></div>
    <input type="text" class="form-control" data-bind="docPageCount" data-show="edit" />
  </div>

  <div class="detail-item">
    <label data-show="edit">Document Link</label>
    <div data-show="view process">
      <a href="#" target="_blank" id="view-document-link" class="file-link" data-bind="docLink">View Document</a>
    </div>
    <input type="text" class="form-control" data-bind="docLink" data-show="edit" />
  </div>

  <hr />

  <div class="detail-item">
    <label>Contractor</label>
    <div data-show="view edit" data-bind="contractor"></div>
    <div id="process-mode" data-show="process" style="display: none">
      <contractor-select id="contractor-select"></contractor-select>
    </div>
  </div>

  <div class="detail-item">
    <label>Date Sent to Contractor</label>
    <div data-bind="docSentDate" data-format="date" data-show="view edit"></div>
    <input type="date" class="form-control" data-bind="docSentDate" data-show="process" />
  </div>

  <div class="detail-item">
    <label>Date Received from Contractor</label>
    <div data-bind="docReceivedDate" data-format="date" data-show="view edit"></div>
    <input type="date" class="form-control" data-bind="docReceivedDate" data-show="process" />
  </div>
</div>